# Laravel folders
vendor
node_modules
public/storage
storage/*.key
storage/app/public
storage/debugbar

# Laravel files
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.backup

# IDEs and OS
.idea
.vscode
.DS_Store
Thumbs.db

# Composer & Laravel caches
composer.lock
composer.phar

# Laravel Sail
docker-compose.override.yml

# Laravel Telescope (se estiver usando)
storage/telescope
